@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    @font-face {
        font-family: 'Aesthetic';
        src: url('../fonts/Aesthetic-Regular.woff2') format('woff2');
        /* use the matching font-weight here ( 100, 200, 300, 400, etc). */
        font-weight: 400;
        /*  use the matching font-style here */
        font-style: normal;
    }
}
