@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji'; */
    @font-face {
        font-family: 'Aesthetic';
        src: url('../fonts/Aesthetic-Regular.woff2') format('woff2');
        /* use the matching font-weight here ( 100, 200, 300, 400, etc). */
        font-weight: 400;
        /*  use the matching font-style here */
        font-style: normal;
    }
    /* @font-face {
        font-family: 'Quicksand';
        src: url('../fonts/Quicksand-VariableFont_wght.ttf') format("truetype");
        font-style: normal;
    } */
    
    /* @font-face {
        font-family: 'Quicksand';
        src: url('../fonts/Quicksand-Bold.ttf') format("truetype"), url('../fonts/Quicksand-Light.ttf') format("truetype"), url('../fonts/Quicksand-Medium.ttf') format("truetype"), url('../Quicksand-Regular.ttf') format("truetype"), url('../fonts/Quicksand-SemiBold.ttf') format("truetype");
        font-weight: 400;
        font-style: normal;
    } */


    /* @font-face {
        font-family: 'Quicksand';
        src: url('../fonts/Quicksand-Bold.ttf') format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: 'Quicksand';
        src: url('../fonts/Quicksand-Light.ttf');
        font-style: normal;
    }
    @font-face {
        font-family: 'Quicksand';
        src: url('../fonts/Quicksand-Medium.ttf') format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: 'Quicksand';
        src: url('../Quicksand-Regular.ttf') format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: 'Quicksand';
        src: url('../fonts/Quicksand-SemiBold.ttf') format("truetype");
        font-style: normal;
    } */
}
