@import 'tailwindcss';

/* 1. Declare o @font-face FORA do bloco @theme */
@font-face {
  font-family: 'Aesthetic';
  src: url('../fonts/Aesthetic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Opcional: melhora o carregamento */
}

/* 2. No @theme, apenas aponte a variável para o nome da fonte */
@theme {
  --font-aesthetic: 'Aesthetic', sans-serif;
}