/* CSS DAS PÁGINAS DE ENTREVISTAS */
.entrevista-introducao {
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* justify-content: center; */
    /* align-items: center; */
    /* max-width: 60%; */
    /* COR DE FUNDO */
    /* background-color: #f79a9a; */
}

.section-entrevista-corpo {
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* background-color: #f79a9a; */
    /* justify-content: center; */
    /* max-width: 1200px; */
}

.entrevista-corpo {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    /* COR DE FUNDO */
    /* background-color: #c6c6eb; */
}

.flex-cards-corpo {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 3%;
    /* background-color: #708b62; */     
}

.flex-cards-entrevista-meio {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    place-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); */
    /* grid-gap: 3%; */
    /* background-color: #708b62; */
    /* max-width: 100%; */
}

.flex-cards-entrevistas {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 3%;
    /* background-color: #708b62; */
}

.card-entrevista {
    /* background-color: #9f9fca; */
    padding: 0%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-flow: row wrap; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    max-width: 100%;
}

.card-entrevista img {
    min-width: 150px;
    max-width: 500px;
}

.card-entrevista legend {
    font-size: clamp(1.4rem, 0.1vw + 1rem, 4rem);
}

.card-entrevista p {
    font-size: clamp(1rem, 0.5vw + 1rem, 4rem);
    text-align: justify;
}

.entrevista-text-center {
    text-align: center;
    line-height: 35px;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* max-width: 50%; */
}

.entrevista-text-center h1 {
    font-family:'Aesthetic'; font-size: clamp(1rem, 5.5vw + 1rem, 6rem);
}

.entrevista-text-left{
    text-align: left;
    line-height: 35px;
}

.entrevista-text-left h1 {
    font-family:'Aesthetic';
    font-size: clamp(1rem, 5.5vw + 1rem, 6rem);
}

.entrevista-text-left h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(1rem, 2.5vw + 1rem, 6rem);
    font-weight: lighter;
    /* letter-spacing: 9.3px;  */
}

.entrevista-text-left p {
    font-size: clamp(1rem, 0.5vw + 1rem, 4rem);
}

.entrevista-text-justificado {
    text-align: justify;
    /* padding: 10px 15%; */
    /* line-height: 35px; */
}

.entrevista-text-justificado h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.entrevista-text-justificado p {
    font-size: clamp(1rem, 0.5vw + 1rem, 4rem);
}

.entrevista-frase-destaque p {
    font-size: clamp(1rem, 0.8vw + 1rem, 4rem);
    /* Adiciona uma borda */
    /* border: 2px solid #ce7070; */
    /* Bordas arredondadas */
    border-radius: 20px;
    /* Sombra */
    /* box-shadow: 0 8px 16px rgba(0,0,0.5,0.9); */
    box-shadow: 0 8px 16px #ce7070;
    padding: 1%;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 10%;
    /* COR DE FUNDO */
    /* background-color: #656591; */
}